html {
    background-color: #373b40;
}

body {
    margin: 0 10%;
}

h1 {
    box-sizing: border-box;
    margin: 10px 30px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}

h2 {
    box-sizing: border-box;
    margin: 10px 30px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #FFFFFF;
}

.white {
    box-sizing: border-box;
    margin: 10px 30px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    display: inline-block;
    background-color: #FFFFFF;
    color:#585D65;
}

.solidgrey {
    box-sizing: border-box;
    margin: 10px 30px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    display: inline-block;
    background-color: #585D65;
    color: #FFFFFF;
}

.mintgreen {
    box-sizing: border-box;
    margin: 10px 30px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    display: inline-block;
    background-color: #68E0CF;
    color: #585D65;
}

.colordesc {
    box-sizing: border-box;
    margin: 24% auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.regular {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.extrabold {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}

.regular div {
    margin: 10px 30px;
    border: solid 2px #68E0CF;
    border-radius: 10px;
}

.extrabold div {
    margin: 10px 30px;
    border: solid 2px #68E0CF;
    border-radius: 10px;
}

._26 {
    margin: 5px 20px;
    font-size: 26px;
    color: #FFFFFF;
}

._22 {
    margin: 5px 20px;
    font-size: 22px;
    color: #FFFFFF;
}

._18 {
    margin: 5px 20px;
    font-size: 18px;
    color: #FFFFFF;
}

._14 {
    margin: 5px 20px;
    font-size: 14px;
    color: #FFFFFF;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.round {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 30px;
    width: 64px;
    height: 64px;
    line-height: 62px;
    background: #373b40;
    font-size: 26px;
    font-weight: 800;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border: 1px solid #585d65;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.ellipse {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 30px;
    width: auto;
    height: 64px;
    padding: 0 50px;
    line-height: 62px;
    background: #373b40;
    font-size: 18px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border: 1px solid #585d65;
    border-radius: 500px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.round:hover {
    color: #68E0CF;
    transition: 1s all;
}

.ellipse:hover {
    color: #68E0CF;
    transition: 1s all;
}

.round:active {
    border: 1px solid #68E0CF;
    transition: 0.3s all;
}

.ellipse:active {
    border: 1px solid #68E0CF;
    transition: 0.3s all;
}

.banner {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    width: 100%;
    border-radius: 500px;
    background-color: #585D65;
}

.logo {
    box-sizing: border-box;
    position: relative;
    height: 80px;
    padding: 0;
    margin: 0  0  0 50px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 1000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    float: left;
}

.navlist {
    box-sizing: border-box;
    padding: 0;
    margin: 0 50px 0 0;
    position: relative;
    list-style: none;
    height: 80px;
    display: flex;
    align-items: center;
    float: right;
}

.navlink a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
    display: flex;
    color: #FFFFFF;
    cursor: pointer;
}

.navlink a:hover {
    color: #68E0CF;
    transition: 1s all;
}

.navlink a:active {
    margin-top: 5px;
    transition: 0.1s all;
}

.gaugelist {
    margin: 10px 30px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.full span {
    margin-right: 15px;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #68E0CF;
    float: left;
}

.empty span {
    margin-right: 15px;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #585D65;
    float: left;
}

.emptylast span {
    margin-right: 15px;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #585D65;
    float: left;
}